.nav2 {
   /* background-color: #66ff33 !important;*/
   background-color: #2C3034 !important;
   color: white !important;
  }

.nav2 a {
  color: white !important;
}

.dropdown-menu {
  background-color: #4F5052;
}
.dropdown-item:hover {
  color: #4F5052 !important;
}

  .Listado{
    margin-left:40% !important;
  }

.fila:hover{
    color: green !important;
    background-color: #EDF9D8 !important;
}

table, tr, td, th {
  text-align: center;
}

.ranking {
    text-align: center;
}

.pagelinks {
    /* align-content: center;
    align-items: center;
    align-self: center;
    box-align: center; */
    text-align: center;
    margin-left: 42%;
}

.tablajugadores {
  height: 60%;
}

a:hover {
  color: #C53473;
  text-decoration: none !important;

}

input {
  padding-left: 5%;
  padding-right: 5%;
}

.calendario td{
  width: 1%;
}

.calendario th{
  height: 1px;
}

.calendario {
  height: 90%;
  background-color: white !important;

}

#calendario {
  height: 90%;
  width: 90%;
  align-self: center;
  margin-left: 5%;
}

.tituloCalendario {
  background-color: #43463E !important;
  color: white;

}
  /*color: white;
}

.partidoscalendario {
  /*color: white;

}*/

html, body {
  height: 100%;
  background-image: url("/img/prueba.jpg");
  background-size: 100%;
  background-repeat: no-repeat
}

#RankingPaginado  {
  width: 30%;
  background-color: rgb(44, 48, 52, 0.9);
  color: white;
}

#RankingPaginado  a {
   color: white;
}

#RankingPaginado  a.paginacion:hover {
  color: #69EC70;
}

#RankingPaginado a.active{
  color: palevioletred;
}


.imagenAlineacion {
  margin-top: 5%;
}

.userPage {
  background-color: rgb(255,255,255,0.9);
  padding-top: 5%;
  padding-bottom: 5%;
  box-shadow: 3px 5px rgb(79, 80, 82, 0.6);
}


/* Select posiciones de jugadores en equipo */

.sustituto {
  color: purple;
}

.tablaInfoJugador{
  width: 40%;
}

.btn-verequipo {
  padding-left: 15%;
  padding-right: 15%;
}

.DivAbajo {
  background-color: rgb(255,255,255,0.6);
  padding-top: 10%;
  padding-bottom: 10%;
}

.margen-boton{
  margin: 5px;
}

.tempo{ 
  margin-left: 40%;
  margin-bottom: 4%;
  padding: 1%;
  border-radius: 10%;
}
.tituloPartido{
  margin-left: 20%;
}
.titularDelPartido{
  padding: 1%;
}