.nav2 {
   /* background-color: #66ff33 !important;*/
   background-color: #2C3034 !important;
   color: white !important;
  }

.nav2 a {
  color: white !important;
}

.dropdown-menu {
  background-color: #4F5052;
}

  .Listado{
    margin-left:40% !important;
  }

.fila:hover{
    color: green !important;
    background-color: #EDF9D8 !important;
}

table, tr, td, th {
  text-align: center;
}

.ranking {
    text-align: center;
}

.pagelinks {
    /* align-content: center;
    align-items: center;
    align-self: center;
    box-align: center; */
    text-align: center;
    margin-left: 42%;
}

.tablajugadores {
  height: 60%;
}

a:hover {
  color: #C53473;
  text-decoration: none !important;

}

input {
  padding-left: 5%;
  padding-right: 5%;
}

.calendario td{
  width: 1%;
}

.calendario th{
  height: 1px;
}

.calendario {
  height: 100%;
}

#calendario {
  height: 85%;
  width: 85%;
  align-self: center;
  margin-left: 8%;
  background-color: white !important;
}

.tituloCalendario {
  background-color: #43463E !important;
  color: white;

}
  /*color: white;
}

.partidoscalendario {
  /*color: white;

}*/

html, body {
  height: 100%;
  background-image: url("/img/prueba.jpg");
  background-size: 100%;
  background-repeat: no-repeat
}

#RankingPaginado  {
  width: 30%;
  background-color: rgb(44, 48, 52, 0.9);
  color: white;
}

#RankingPaginado  a {
   color: white;
}

#RankingPaginado  a.paginacion:hover {
  color: #69EC70;
}

#RankingPaginado a.active{
  color: palevioletred;
}


.imagenAlineacion {
  margin-top: 5%;
}

.userPage {
  background-color: rgb(255,255,255,0.9);
  padding-top: 5%;
  padding-bottom: 5%;
  box-shadow: 3px 5px rgb(79, 80, 82, 0.6);
}